/* font-family: 'Poppins', sans-serif; */

body {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
}

/* HEADER */

.header {
    height: 78px;
    width: 100 vw;
    margin-top: 20px;

    display: flex;
    justify-content:space-around;
    align-items: center;
}

.header__container {
    display: flex;
    align-items: center;
}

.header__nav-link {
    color: #2F281E;
    text-decoration: none;  
    font-weight: 400;
    font-size: 14px;
    line-height: 28px;
    margin-right: 13px;
}

.header__btn {
    width: 102px;
    height: 46px;
    border-radius: 4px;

    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
}

.header__btn--sign-in {
    margin-left: 39px;
    background-color: transparent;
    border: 1px solid #BCD0E5;
}

.header__btn--sign-up {
    margin-left: 14px;
    color: #fff;
    background-color: #FF9900;
    border: none;
}


/* MAIN */

.main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1126px;
    width: 100%;
}

h2 {
    color: #2F281E;
    font-weight: 700;
    font-size: 36px;
    line-height: 54px;
}

h3 {
    color: #2F281E;
    font-weight: 600;
    font-size: 22px;
    line-height: 33px;
}

h4 {
    color: #2F281E;
    font-weight: 700;
    font-size: 16px;
    line-height: 26px;
}

h5 {
    color: #544837;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
}

.text {
    color: #544837;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
}


/* SUPERPOWER */

.hero {
    margin-top: 30px;
}

.hero__info {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    max-width: 458px;
    width: 100%;
    max-height: 496px;
    height: 100%;
}

.hero__heading {
    transform: translateY(20px);

    font-weight: 700;
    font-size: 44px;
    line-height: 54px;
    color: #2F281E;
}

.hero__text {
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: #544837;
}

.hero__btns {
    max-width: 366px;
    width: 100%;

    display: flex;
    justify-content: space-between;
}

.btn--orange {
    width: 175px;
    height: 53px;
    background-color: #FF9900;
    border: none;
    border-radius: 4px;

    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
}

.hero__btn--video {
    background-color: transparent;
    border: none;

    color: #FF9900;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    text-decoration: underline;
}

.fa-play {
    margin-right: 9px;
}

.hero__img {
    max-width: 605px;
    width: 100%;
}


/* FEATURE */

.feature {
    margin-top: 110px;
    height: 459px;
    flex-direction: column;
}

.feature__heading {
    max-width: 463px;
    width: 100%;

    text-align: center;
}

.feature__card {
    display: flex;
    justify-content: space-around;
    max-width: 1126px;
    width: 100%;
}

.feature__card__item {
    max-width: 240px;
    width: 100%;
    height: 204px;
}

.feature__h3 {
    margin-top: 30px;
    margin-bottom: 13px;
}

/* EFFORTLESS VALIDATION */

.effortless-validation {
    margin-top: 200px;
    height: 574px;
}

.effortless-validation__info {
    max-width: 486px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.effortless-validation__h5 {
    transform: translateY(15px);
}

/* PRODUCT MANAGERS */

.product-managers {
    margin-top: 101px;
}

.product-managers__info {
    max-width: 486px;
    width: 100%;
    height: 427px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.product-managers__h2 {
    transform: translateY(-15px);
}

.product-managers__info__tick-text {
    max-width: 450px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.product-managers__info--text {
    max-width: 385px;
    width: 100%;
}

/* MARKETERS */

.marketers {
    margin-top: 104px;
}

.marketers__info {
    max-width: 486px;
    width: 100%;
    height: 531px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.marketers__info--h2 {
    transform: translateY(-15px);
}

/* border: 1px solid red; */